# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=test
DB_PASSWORD=StrongPass2
DB_NAME=test

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Virus total
VIRUSTOTAL_API_KEY=xxx

# Cors
ALLOWED_ORIGINS=name.com,another.fr
